{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Cluster Status" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Dashboard") %}
    <link href="{{ STATIC_URL }}dashboard/css/common.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}dashboard/css/dashboard.css" rel="stylesheet">
 
{% endblock page_header %}

{% block main %}
    {% csrf_token %}
     <!--The frame work of dashboard-->
    <div id="framework">
        <!--the main area-->
        <div id="divMain">

            <!--VSM Info summary-->
            <div id="divVSMVersion" class="vsm-block">
                 <h4 id="lblVSMVersionInfo" class="vsm-block-title" >
                 {% trans "VSM Status" %}
                 </h4>
                 <div id="divVSMVersionContent"  class="vsm-block-content">
                    <span id="lblVersionMark" class="vsm-label-90">{% trans "VSM Version" %}:</span>
                    <span id="lblVersion" class="vsm-label-90">--</span>
                    
                    <span id="lblVersionUpdateMark" class="vsm-label-90">{% trans "Uptime" %}:</span>
                    <span id="lblVersionUpdate" class="vsm-label-90">--</span>
                    
                    <span id="lblCephVersionMark" class="vsm-label-90">{% trans "Ceph Version" %}:</span>
                    <span id="lblCephVersion" class="vsm-label-90">--</span>                   
                </div>
            </div>
        </div>
    <div id="divFooter" style="width:100%;height:60px;clear:both">
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}lib/echarts.js"></script>
    <script src="{{ STATIC_URL }}dashboard/js/message.js"></script> 
    <script src="{{ STATIC_URL }}dashboard/js/dashboard.js"></script>
{% endblock %}
